<html>
    <head>
        <title>Book shelf</title>
    </head>
    <body>
        <h1>choose</h1>  
        <FORM>
            <INPUT Type="BUTTON" id="save book" VALUE="save book" ONCLICK="window.location.href='/save_book'">
            <INPUT Type="BUTTON" id="count" VALUE="count" ONCLICK="window.location.href='/count'">
            <INPUT Type="BUTTON" id="serch book" VALUE="serch book" ONCLICK="window.location.href='/serch'">
            <INPUT Type="BUTTON" id="borrow" VALUE="borrow" ONCLICK="window.location.href='/borrow'">
            <INPUT Type="BUTTON" id="edit" VALUE="edit" ONCLICK="window.location.href='/edit'">
    </FORM>
         <table id="id_list_table" border=1>
                <tr align=center>
                <td width=20%>name</td>
                <td width=10%>number</td>
                <td width=20%>cost</td>
                <td width=10%>borrow</td>
                <td width=20%>comment</td>
                <td width=20%>delete</td>
                </tr>
            {% for book in books %}
                <tr>
                 {% for b in book %}
                 {% if forloop.counter < 6 %}                 
                     <td>{{ b }}</td>
                 {% elif forloop.counter < 7 %}
                     <td>
                     <FORM method="POST">
                     <INPUT Type="submit" VALUE="delete" id="button_d" >      
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ b }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM>
                     </td>
                 {% endif %}
                 {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
